&flash0 {
    status = "disabled";
};

&plli2s {
	/* Minimize audio clock error (with i2s mck-enabled) for all of:
	 * - 22.05kHz / 16b, 24b or 32b
	 * - 44.1kHz  / 16b, 24b or 32b
	 * - 88.2kHz  / 16b or 24b
	 * Note: because the PLLI2S is dependent on the main PLL, the latter
	 *       should not be changed without checking impact on PLLI2S
	 */
    div-m = <8>;
	mul-n = <271>;
	div-r = <2>;
	status = "okay";
};

&pinctrl {
    i2s3_din: i2s3-din {
        pinmux = <STM32_PINMUX('B', 5, AF6)>;            /* your DIN pinmux cell */
        bias-disable;
        drive-push-pull;
        slew-rate = "high-speed";
    };
    i2s3_bclk: i2s3-bclk {
        pinmux = <STM32_PINMUX('B', 12, AF7)>;            /* your BCLK pinmux cell */
        bias-disable;
        drive-push-pull;
        slew-rate = "high-speed";
    };
    i2s3_lrc: i2s3-lrc {
        pinmux = <STM32_PINMUX('A', 15, AF6)>;            /* your LRC pinmux cell */
        bias-disable;
        drive-push-pull;
        slew-rate = "high-speed";
    };
    adc1_in2: adc1-in2 {
        pinmux = <STM32_PINMUX('A', 2, ANALOG)>;
    };
};

&dma1 {
    status = "okay";
};

&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-0 = <&adc1_in2>;


    channel@2 {
        reg = <2>; 
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>; 
        zephyr,input-positive = <2>;
    };
};



&i2s3 {
    status = "okay";
    pinctrl-0 = <&i2s3_lrc &i2s3_bclk &i2s3_din>;
    pinctrl-names = "default";
    clocks = <&rcc STM32_CLOCK(APB1, 15U)>,
		 <&rcc STM32_SRC_PLLI2S_R I2S_SEL(0)>;
    mck-enabled;
};





&spi1 {
    pinctrl-0 = <&spi1_sck_pa5  &spi1_miso_pa6 &spi1_mosi_pa7>;
    pinctrl-names = "default";
    status = "okay";
    //cs-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;    

    cs-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>, <&gpioa 3 GPIO_ACTIVE_LOW>;
    sdhc0: sdhc@1 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <1>;
        //cs-gpios = <&gpioa 3 GPIO_ACTIVE_LOW>;
        status = "okay";

        mmc {
            compatible = "zephyr,sdmmc-disk";
            disk-name = "SD";
            status = "okay";
        };
        spi-max-frequency = <15000000>;
    };
};

&usbotg_fs {
    status = "okay";
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    pinctrl-names = "default";
};

/ {
    chosen {
        zephyr,display = &sh1122;
    };
    zephyr,user {
        io-channels = <&adc1 2>;
    };

    mipi_dbi_sh1122: mipi_dbi_sh1122 {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi1>;

        dc-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;
        
        write-only;
        #address-cells = <1>; 
        #size-cells = <0>;

        sh1122: sh1122@0 {
            compatible = "sinowealth,sh1122";
            //cs-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
            mipi-max-frequency = <20000000>;
            reg = <0>;
            width = <256>;
            height = <64>;
            oscillator-freq = <0xA0>;
            multiplex-ratio = <63>;
            display-offset = <0>;
            start-line = <0>;
            low-voltage = <0x0>;
            dc-dc = <0x80>;
            precharge-voltage = <0x1A>;
            phase-length = <0x76>;
            vcomh-voltage = <0x3B>;
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
        };
    };
};
