// LSE and flash disabled since I don't need either. (lse is just burnt on my board :/)
&flash {
    status = "disabled";
};

&clk_lse {
	status = "disabled";
};

&pinctrl {
   adc1_in2: adc1-in2 {
       pinmux = <STM32_PINMUX('A', 2, ANALOG)>;
   };
   
   // SAI for i2s DAC
   pinctrl_sai1_bclk: sai1_b_bclk {
        pinmux = <STM32_PINMUX('B', 3, AF13)>/* bclk */; 
   };
   pinctrl_sai1_ws: sai1_b_ws {
        pinmux = <STM32_PINMUX('B', 6, AF13)> /* ws */ ; 
   };
   pinctrl_sai1_di: sai1_b_di {
        pinmux = <STM32_PINMUX('B', 5, AF13)>; // din
   };
  
   // SPI For display and SD card
   pinctrl_spi1_sck: spi1_pins_sck {
        pinmux = <STM32_PINMUX('A', 1, AF5)> /* sck */; 
   };
   pinctrl_spi1_miso: spi1_pins_miso {
        pinmux = <STM32_PINMUX('A', 6, AF5)> /* miso */; 
   };
   pinctrl_spi1_mosi: spi1_pins_mosi {
        pinmux = <STM32_PINMUX('A', 7, AF5)>; /* mosi */
   };
};

&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-0 = <&adc1_in2>;


    channel@2 {
        reg = <2>; 
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>; 
        zephyr,input-positive = <2>;
    };
};

/* 
Setup for the audio device. This mcu uses a sai peripheral
*/
&gpdma1 {
    compatible = "st,stm32u5-dma";
    status = "okay";
};

&sai1_b {
    compatible = "st,stm32-sai";
    status = "okay";
    pinctrl-0 = <&pinctrl_sai1_bclk &pinctrl_sai1_ws &pinctrl_sai1_di>;
    pinctrl-names = "default";
    dma-names = "tx";
};

&i2c2 {
    status = "okay";

    codec0: tlv320dac@18 {
        compatible = "ti,tlv320dac";
        reg = <0x18>; 
        label = "TLV320DAC";
        reset-gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};


/*
SD card setup, uses the same spi as the display
*/
&spi1 {
    pinctrl-0 = <&pinctrl_spi1_sck &pinctrl_spi1_miso &pinctrl_spi1_mosi>;
    pinctrl-names = "default";
    status = "okay";

    cs-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>, <&gpioa 3 GPIO_ACTIVE_LOW>;
    sdhc0: sdhc@1 {
        compatible = "zephyr,sdhc-spi-slot";
        status = "okay";
        reg = <1>;

        mmc {
            compatible = "zephyr,sdmmc-disk";
            status = "okay";
            disk-name = "SD";
        };
        spi-max-frequency = <15000000>;
    };
};


/ {
    chosen {
        zephyr,display = &sh1122;
    };
    zephyr,user {
        io-channels = <&adc1 2>;
    };

    mipi_dbi_sh1122: mipi_dbi_sh1122 {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi1>;

        dc-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;
        
        write-only;
        #address-cells = <1>; 
        #size-cells = <0>;

        sh1122: sh1122@0 {
            compatible = "sinowealth,sh1122";
            mipi-max-frequency = <20000000>;
            reg = <0>;
            width = <256>;
            height = <64>;
            oscillator-freq = <0xA0>;
            multiplex-ratio = <63>;
            display-offset = <0>;
            start-line = <0>;
            low-voltage = <0x0>;
            dc-dc = <0x80>;
            precharge-voltage = <0x1A>;
            phase-length = <0x76>;
            vcomh-voltage = <0x3B>;
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
        };
    };
    // pll2 setup for sai audio device 
    clocks {
        pll2: pll2 {
            compatible = "st,stm32u5-pll-clock";
            status = "okay";
            clocks = <&clk_hse>;
            div-m = <5>;
            mul-n = <59>;
            div-p = <6>;
            div-q = <2>;
            div-r = <2>;
        };
    };
};
